version: 0.1.1.{build}
image: Visual Studio 2019
configuration: Release
environment:
  semantic_version: '0.1.1'

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: $(semantic_version)
  file_version: '{version}'

install:
  - dotnet restore

build:
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: minimal

deploy:
  - provider: NuGet
    api_key:
      secure: 1z0h8dmXeM50sfHXJxYicoRjAE41R/3P86KUzDM4fe5WJlLURhM7HaAP+vcDUbLY
    skip_symbols: false
    artifact: /.*\.nupkg/
    on:
      APPVEYOR_REPO_TAG: true
