version: 0.1.7.{build}
image: Visual Studio 2019
configuration: Release
environment:
  semantic_version: '0.1.7'

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: $(semantic_version)
  file_version: '{version}'

install:
  - ps: build/ci/installDotnetCore3.1.ps1
  - dotnet restore

build:
  publish_nuget: true
  publish_nuget_symbols: true
  use_snupkg_format: true
  verbosity: minimal

deploy:
  - provider: NuGet
    api_key:
      secure: 1z0h8dmXeM50sfHXJxYicoRjAE41R/3P86KUzDM4fe5WJlLURhM7HaAP+vcDUbLY
    on:
      APPVEYOR_REPO_TAG: true
